name: Docker Build and Push

on:
  push:
    branches: [ main ]
    paths:
      - 'app/**' # Only runs when you change things in the app folder

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker for GCP
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and Push Image
        run: |
          docker build -t us-central1-docker.pkg.dev/wiztest-486720/wiz-app-repo/my-app:v1 ./app
          docker push us-central1-docker.pkg.dev/wiztest-486720/wiz-app-repo/my-app:v1
