name: Docker Build and Push

on:
  push:
    branches: [ main ]
    paths:
      - 'app/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          # Double check this secret is named EXACTLY this in GitHub
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Verify App Directory
        run: ls -R ./app # This confirms the Dockerfile is inside the folder

      - name: Build and Push Image
        run: |
          # We use a variable for the project to avoid typos
          PROJECT_ID="wiztest-486720"
          REPO_PATH="us-central1-docker.pkg.dev/$PROJECT_ID/wiz-app-repo/my-app:v1"
          
          docker build -t $REPO_PATH ./app
          docker push $REPO_PATH
